<div>
    <mat-card class="mt50" fxLayout="column" fxLayoutAlign="center center">
        <h3>Welcome to Booking App</h3>
        <span>some description about the app</span>
        <br>
        <div class="mt10" fxLayout="column" fxLayoutAlign="center center" >
            <span>Want to book for any event?</span> <br>
    
            <button mat-button color="primary" (click)="login()">Login</button> <span>If you already have an account</span> <br>
        
            <span>OR</span> <br>
        
            <button mat-button color="primary" (click)="new_account()">Create New Account</button> 
        </div>
    </mat-card>
</div>
